html {
	box-sizing: border-box;
	background-color: #F5F5F5;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	width: 650px;
	margin: 50px auto;
	background-color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.45;
	color: #000000;
}

body.modal-active {
	overflow: hidden;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px 1px 1px 1px);
	padding: 0 !important;
	border: 0 !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden;
}

.cleargix::after {
	content: "";
	display: table;
	clear: both;
}

.fixed-container {
	width: 1000px;
	margin: 0 auto;
}
